<h1 class='text-center text-primary mt-2'>Subscribed Users</h1>
<div class='container'>
  <div class='row'>
    <% @users.each do |user| %>
      <div class='col-lg-4 col-sm-6 col-12'>
        <div class='card my-4'>
          <h5 class='card-header'>
            <div class='text-primary mb-2'>User:</div> <%= user.email %>
          </h5>
          <div class='card-body'>
            <h5 class='card-title'>
              <div class='text-primary mb-2'>Subscribed Plans:</div><%= user.subscriptions.count %>
            </h5>
            <div class='btn-group mr-2 mt-4' role='group' aria-label='links'>
              <%= link_to 'View Subscribed Plans', admin_usage_path(user), class: 'btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
