<% if current_user.avatar.attached? %>
  <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#display">
    <%= image_tag current_user.avatar, class: 'rounded-circle', width: '30px', height: '30px' %>
  </button>
<% end %>

<div class="modal fade" id="display" tabindex="-1" aria-labelledby="displayLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="displayLabel">Display Image</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar, width: '460px' %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
