<ul class='list-group'>
  <li class='list-group-item'>
    <strong class='text-primary'>Feature Name: </strong> <%= feature.name %>
  </li>
  <li class='list-group-item'><strong class='text-primary'>Code: </strong> <%= feature.code %></li>
  <li class='list-group-item'><strong class='text-primary'>Unit Price:</strong> <%= feature.unit_price %></li>
  <li class='list-group-item'><strong class='text-primary'>Allocated
    units:</strong> <%= FeaturePlan.where(plan_id: plan_id).where(feature_id: feature.id).first.allocated_units %>
  </li>
</ul>

<br />
